<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='card'>

  <div class='card-header text-center'>
    <img src="/assets/images/drcar.jpg"
    width="110"
    height="70"
    title="drcar.jpg">
    &nbsp; <!--To provide space between elements -->
    <b>{{pageTitle}}</b>
    &nbsp;
    <img src="/assets/images/drcarmirror.jpg"
    width="110"
    height="70"
    title="drcarmirror.jpg">
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class="row">
          <div class="col-md-12">
            <p>
              Looking for Car Repair and Services in Bangalore?
              Find best Car Service & Repair Center and workshop for General Service,
              General Checkup, Accident Repair And Painting, Running Repairs, Car Wash, Car Shampoo Cleaning,
              Car AC Repair , Car Wheel Alignment, Car Wheel Balancing, AC Servicing, AC Repair, AC Gas Filling.
              Pickup & drop All at comfort of your home Best Car Body Repair Services in Bangalore at Reasonable price.
              Expert Technicians. Get Free Quotes on Online. Bookmycarservice is leading Multi Brand Car Service Workshop
              Garage Located in Electronic City & Mahdevapura .Car repair and car service free doorstep pickup and drop available
              in car service in HSR layout , car service in begur,car service in Bommanahalli, Car repair in ITPL ,car repair in whitefield,
              car service in kr puram,car service in cv raman nagar, car repair in kaggadasapura.car service in harlur,Car service & Repair in
              Mahadevapura , car service in garudacharpalya
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center" style="background-color: black;">
            <h2 style="color: white;"> CAR SERVICES</h2>
          </div>
        </div>
        <hr>

          <div class="row text-center">
            <div class="col-md-4" >
              <img src="/assets/images/trending1.png"
                   width="170"
                   height="170"
                   title="trending1.png" class="imgBox">
              <p class="text-center trending1"><strong>Exterior Care</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending2.png"
                  width="170"
                   height="170"
                   title="trending2.png" class="imgBox">
              <p class="text-center"><strong>Clean In & Oute</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending3.png"
                  width="170"
                  height="170"
                   title="trending3.png" class="imgBox">
              <p class="text-center"><strong>Clean & Shine</strong></p>
            </div>
          </div>
          <hr class="solid">
          <div class="row text-center" >
            <div class="col-md-4">
              <img src="/assets/images/trending4.png"
                   width="170"
                   height="170"
                   title="trending4.png" class="imgBox">
              <p class="text-center"><strong>Tidy & Secure</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending5.png"
                   width="170"
                   height="170"
                   title="trending5.png" class="imgBox">
              <p class="text-center"><strong>Awesome Detail</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending6.png"
                   width="170"
                   height="170"
                   title="trending6.png" class="imgBox">
              <p class="text-center"><strong>Engine Oil Change</strong></p>

            </div>
          </div>
          <hr class="solid">
          <div class="row text-center">
            <div class="col-md-4">
              <img src="/assets/images/trending7.png"
                   width="170"
                   height="170"
                   title="trending7.png" class="imgBox">
              <p class="text-center"><strong>Express Servicing</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending8.png"
                   width="170"
                   height="170"
                   title="trending8.png" class="imgBox">
              <p class="text-center"><strong>General Check-up</strong></p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/trending1.png"
                   width="170"
                   height="170"
                   title="trending9.png" class="imgBox">
              <p class="text-center"><strong>Exterior Care</strong></p>
            </div>
          </div>
        </div>

      <div class='col-md-4'>
        <div class="row">
          <div class="col-md-12">
            <img src="/assets/images/homecarwashpic.jpg" width="350" height="300" class="d-inline-block align-top" title="homecarwashpic.jpg">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
          <h3 class="text-center">Registration</h3>
          <app-userregistration></app-userregistration>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card-footer text-muted" style="background-color: black;">
    <div class="container-fluid">
      <div class='row'>

        <div class='col-md-3'>
          <h3 style="color: red;">On Mobile</h3>
          <ul>
            <li>
              <a href="https://play.google.com/store/apps/carwash"
                    target="_blank" style="border: none;line-height: 0;padding: 0;">
                    <img src="/assets/images/google_play.png" class="img-responsive">
              </a>
            </li>
            <li>
              <a href="https://www.apple.com/ios/app-store/"
                    target="_blank" style="border: none;line-height: 0;padding: 0;">
                    <img src="/assets/images/appstore_icon.png" class="img-responsive">
              </a>
            </li>
          </ul>
        </div>

        <div class='col-md-2'>
          <h3 style="color: red;">Follow Us</h3>
          <ul class="social-fix">
            <li><a target="_blank" href="https://www.facebook.com/carwash" title="facebook_carwash"><i class="fa fa-facebook"></i> <b style="color: black;">FaceBook</b></a></li>
            <li><a target="_blank" href="https://twitter.com/carwash" class="tw" title="twitter_carwash"><i class="fa fa-twitter"></i><b style="color: black;">Twitter</b></a></li>
            <li><a target="_blank" href="https://www.instagram.com/carwash/" title="instagram_carwash"><i class="fa fa-instagram"></i><b style="color: black;">Instagram</b></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCfOPENEYyDMNd1Aqswa" title="youtube_carwash"><i class="fa fa-youtube"></i><b style="color: black;">YouTube</b></a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3 style="color: red;">Address Us</h3>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>#82, 17th Cross, 32nd Main, JP Nagar, Phase 6, Bangalore 560078</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i>1800 3008 3008</p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i>info@carwash.com</p>
        </div>
        <div class="col-md-4">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7772.621770884775!2d77.592704!3d13.079473!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x958fe75bff0c6d8e!2sAttide+Boutique+Hotel!5e0!3m2!1sen!2sus!4v1519625757204"
                    width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center" style="color:#fff;font-size:12px; margin-bottom:0;">Copyright © 2020 Carcare. All Rights Reserved.</p>
      </div>
    </div>
  </div>

</div> -->
